.App {
  text-align: center;
  background-color: #bbb9b3;
  min-height: 100vh;
  display: flex;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.main-content {
  flex: 1;
}

.error-msg,
.success-msg {
  color: #bd5252;
  background: var(--white-color);
  padding: 5px;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.success-msg {
  color: #58b158;
}
