.footer {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(133, 133, 157, 1) 0%,
    rgba(6, 20, 23, 1) 100%
  );
  color: var(--white-color);
  padding: 1rem;
}
