.search-box {
  padding: 1rem;
}

.search-box .search-input {
  padding: 10px;
  width: 250px;
}

.search-box .search-form {
  display: flex;
  justify-content: center;
  height: 100%;
}

.search-box .search-form button {
  height: 45px;
  width: 100px;
  margin-left: 1rem;
}
