.donation-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  gap: 1rem;
}

.donation-box {
  width: 250px;
  height: auto;
}

.donation-boxes .ant-card-body {
  color: #777;
  letter-spacing: 1px;
}

.donation-boxes .ant-card-body button {
  letter-spacing: 1px;

  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-boxes .ant-card-body button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border: none;
}
